@typeparam TItem
@attribute [CascadingTypeParameter(nameof(TItem))]

<p>Parent</p>
@ChildContent

<p>Parent @typeof(TItem)s:</p>
@if (Items is not null)
{
    <ul>
        @foreach (var item in Items)
        {
            <li>@item</li>
        }
    </ul>
}

@if (CascadeItems is not null)
{
    <p>Cascaded @typeof(TItem)s</p>

    <ul style="color:green">
        @foreach (var item in CascadeItems)
        {
            <li>@item</li>
        }
    </ul>
}
<p>/Parent</p>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }

    [CascadingParameter]
    protected IEnumerable<TItem>? CascadeItems { get; set; }
}